footer {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрируем вертикально */
    height: 276px;
    padding: 56px 0;
    border-top: 0.5px solid #cccccc13;
    color: var(--color-primary-light);
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Чтобы колонки были равномерно распределены */
    align-items: center; /* Центрируем все колонки по вертикали */
    gap: 50px; /* Расстояние между колонками */
    width: 100%;
    max-width: 1200px;
    font-size: 16px;
}

.footer-menu, .contacts-ul, .footer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-primary-light);
    text-align: center; /* Чтобы текст меню был по центру */
}

.footer-link a {
    color: var(--color-primary-light);
    transition: color 0.3s;
}

.footer-link a:hover {
    color: var(--color-brand-light);
}

.footer-contacts a, .icon-footer-link {
    color: var(--color-primary-light);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

.footer-contacts a:hover, .icon-footer-link:hover {
    color: var(--color-brand-light);
}

.icon-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-brand-light);
    flex-shrink: 0;
    transition: fill 0.3s;
}

.info-item, .info-design, .info-safety {
    font-size: 16px;
    color: var(--color-primary-light);
    text-align: center; /* По центру */
    transition: color 0.3s;
}

.info-item:hover, .info-design:hover {
    color: var(--color-brand-light);
}

/* Анимация появления */
.footer-container > * {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    transition: all 0.6s ease-out;
}

.footer-container > *.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary-light);
    text-decoration: none;
}

.logo-title {
    font-size: 28px;
    font-weight: 700;
}

.logo-subtitle {
    font-size: 11px;
    font-weight: 200;
}

/* Меню и контакты */
.footer-menu,
.contacts-ul,
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link a,
.footer-contacts a,
.info-item,
.info-safety {
    color: var(--color-primary-light);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
}



.footer-link a:hover,
.footer-contacts a:hover,
.info-item:hover,
.info-design:hover {
    color: var(--color-brand-light);
}

/* Иконки */
.icon-footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-primary-light);
    font-size: 16px;
    transition: color 0.3s;
}

.icon-footer-link:hover {
    color: var(--color-brand-light);
}

.icon-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-brand-light);
    flex-shrink: 0;
    transition: fill 0.3s;
}

/* Инфо текст */
.info-item{
    font-size: 14px;
}

.info-design,
.info-safety {
    font-size: 12px;
    color: #747272;
    font-family: 'Inter', sans-serif;
}

/* ===== Адаптив ===== */
@media (max-width: 1024px) {
    .footer-container {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-container > * {
        flex: 1 1 auto;
        text-align: center;
    }

    .footer-menu,
    .contacts-ul,
    .footer-info {
        align-items: center;
    }
}
