

/* ================= HEADER GRADIENT ================= */
.header-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 75%;
    background: radial-gradient(
        circle at top right,
        rgba(235,3,255,0.6),
        rgba(129,3,255,0.4) 50%,
        rgba(3,44,255,0.2) 80%,
        rgba(3,44,255,0)
    );
    filter: blur(80px);
    pointer-events: none;
    z-index: -3;
}


/* ================= HEADER ================= */
/* ================= HEADER ================= */
header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.35s ease;
}

/* ================= NAV CONTAINER ================= */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1150px;
    height: 95px;
    padding: 0 25px;

    margin: 20px auto 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;

    transition: 
        margin-top 0.35s ease,
        background-color 0.35s ease,
        backdrop-filter 0.35s ease,
        border-radius 0.35s ease;
}

/* ================= NAV LEFT ================= */
.nav-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* ================= LOGO ================= */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.logo-icon {
    font-size: 70px;
    line-height: 1;
    font-weight: 700;
    background: linear-gradient(90deg, #ff00cc, #3b4cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-title {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: -24px;
    background: linear-gradient(90deg, #ff00cc, #3b4cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-subtitle,
.logo-subtitle2 {
    font-size: 7px;
    display: block;
    white-space: nowrap;
    line-height: 1;
}

.logo-subtitle {
    letter-spacing: 7px;
    color: #ff00cc;
}

.logo-subtitle2 {
    margin-top: 5px;
    letter-spacing: 3px;
    color: rgba(255,255,255,0.3);
}

/* ================= NAV ================= */
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    transform: translateX(0);
    transition: transform 0.4s ease;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ================= NAV LINK ================= */
.nav-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--color-primary-light);
    white-space: nowrap;
}

.nav-link:hover{
    color: var(--color-brand-light);
}

/* TEXT */
.nav-text {
    position: relative;
}

.nav-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-brand-light);
    transition: width 0.3s ease;
}

.nav-item:hover .nav-text::after {
    width: 100%;
}

/* ARROW */
.nav-arrow {
    width: 7px;
    height: 7px;
    border-right: 2px solid var(--color-primary-light);
    border-bottom: 2px solid var(--color-primary-light);
    transform: rotate(45deg);
    transition: 0.25s ease;
}

.nav-item:hover .nav-arrow {
    transform: rotate(-135deg);
    border-color: var(--color-brand-light);
}

/* ================= DROPDOWN ================= */
.nav-item {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    display: none;
    background-color: var(--color-brand);
    border: 1px solid rgba(194,19,255,0.76);
    border-radius: 6px;
    min-width: max-content;
    white-space: nowrap;
    z-index: 50;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    color: var(--color-primary-light);
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: var(--color-brand-light);
}

/* ================= BUTTON ================= */
.button-contact {
    width: 220px;
    height: 56px;
    background: #242121;
    color: var(--color-primary-light);
    border-radius: 50px;
    border: none;
    font-family: Inter;
    font-size: 23px;
    cursor: pointer;
}

.button-contact:hover {
    background: var(--color-brand-light);
    color: #fff;
    transition: 0.3s ease;
}

body.menu-open {
    overflow: hidden;
}

body.menu-open::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9998;
}

/* по умолчанию скрываем градиент для больших экранов */
.top-right-gradient {
    display: none;
}

/* ===== BURGER ===== */
/* ===== BURGER ===== */
.burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
    z-index: 10001;
    cursor: pointer;
    background: none;
    border: none;
}

.burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: linear-gradient(90deg, #ff00cc, #3b4cff);
    transition: 0.3s ease;
}

.burger span:nth-child(1) { top: 0; }
.burger span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.burger span:nth-child(3) { bottom: 0; }

.burger.active span:nth-child(1) { top: 50%; transform: translateY(-50%) rotate(45deg); }
.burger.active span:nth-child(2) { opacity: 0; }
.burger.active span:nth-child(3) { bottom: 50%; transform: translateY(50%) rotate(-45deg); }


/* по умолчанию */
.button-mobile {
    display: none;
}




@media (max-width: 1034px) {
    .burger { display: block; }
    .header-gradient {
        width: 70%;
        filter: blur(100px);
        opacity: 0.8;
    }
 .nav-container {

        width: calc(100% - 40px); /* аккуратные края */
    }
    .burger {
        display: block;
    }
    .nav {
        opacity: 0;
        pointer-events: none;
    }

    .nav.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
    /* Позиционируем меню фиксировано для мобильных */
    .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 360px;
    height: 100vh;
    background: rgba(0,0,0,0.97);
    backdrop-filter: blur(16px);
    padding: 120px 40px 40px;

    transform: translateX(0);
    transition: transform 0.4s ease;
}

.nav.active { transform: translateX(0); }


    /* dropdown в мобилке */
    .dropdown-menu {
        position: static;
        background: transparent;
        border: none;
        padding-left: 15px;
    }

    .dropdown-menu li {
        padding: 10px 0;
    }

   .nav ul { flex-direction: column; gap: 30px; }
    .nav-link { font-size: 22px; }
    .dropdown-menu { position: static; background: transparent; border: none; padding-left: 15px; }
    .dropdown-menu li { padding: 10px 0; }

    .button-desktop { display: none; }
    .button-mobile { display: block; width: 100%; max-width: 300px; margin-top: 20px; }
}


@media (max-width: 991px) {

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: top 0.35s ease, opacity 0.35s ease, transform 0.35s ease;
}

 header.scrolled .nav-container {
        height: 70px;
    }

    .header-gradient {
        width: 50%;
        filter: blur(100px);
        opacity: 0.8;
    }

    .nav-container {
        height: 75px;
        padding: 0 20px;
        border-radius: 40px;
    }
    

    
    .logo-icon {
        font-size: 56px;
    }

    .logo-title {
        font-size: 16px;
    }

    ul {
        gap: 16px;
    }

    .nav-link {
        font-size: 14px;
    }

    .button-contact {
        width: 160px;
        height: 48px;
        font-size: 18px;
    }
}


@media (max-width: 632px) {

     .header-gradient {
        display: none;
    }

     .top-right-gradient {
        display: block;
        position: absolute;
        bottom: 0; /* от соцсетей */
        right: 0;
        width: 100%;
        height: 600px; /* подбираешь под размер соцсетей */
        background: radial-gradient(
            circle at bottom center,
            rgba(235, 3, 255, 0.6) 0%,
            rgba(129, 3, 255, 0.4) 50%,
            rgba(3, 44, 255, 0.2) 80%,
            rgba(3, 44, 255, 0) 100%
        );
        filter: blur(80px);
        pointer-events: none;
        z-index: -1;

        mask-image: linear-gradient(to top, #000 0%, #000 70%, transparent 100%);
        -webkit-mask-image: linear-gradient(to top, #000 0%, #000 70%, transparent 100%);
        mask-composite: intersect;
        -webkit-mask-composite: destination-in;
    }

    .nav-container {
        height: 70px;
        border-radius: 0 0 30px 30px;
    }


    .nav-left {
        gap: 0;
    }

    .logo-icon {
        font-size: 48px;
    }

    .logo-title {
        font-size: 14px;
    }

    .logo-subtitle {
        letter-spacing: 5px;
        font-size: 6px;
    }

    .button-contact {
        width: 140px;
        height: 42px;
        font-size: 16px;
    }
}

header.visible {
    opacity: 1;
    transform: translateY(0);
}

header:not(.scrolled) .nav-container {
    margin-top: 20px; 
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
}

header.scrolled {
    top: 0;
}

header.scrolled .nav-container {
    margin-top: 0;
    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(14px);
    border-radius: 0 0 30px 30px;
}