.header-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%; /* охват до середины */
    height: 100%; /* JS задаёт высоту под top-container */
    background:
        radial-gradient(
            circle at top right,
            rgba(235, 3, 255, 0.6) 0%,    /* яркий верхний угол */
            rgba(129, 3, 255, 0.4) 50%,   /* середина */
            rgba(3, 44, 255, 0.2) 80%,    /* мягкий переход */
            rgba(3, 44, 255, 0.8) 100%    /* яркая полоса внизу */
        );
    filter: blur(100px);
    pointer-events: none;
    z-index: 1;
}


header, .top-container {
    position: relative;
    z-index: 2; /* поверх градиента */
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 2px rgba(194, 19, 255, 0.76);
    margin: 40px auto;
    padding: 0;
    max-width: 1200px; /* ограничиваем ширину всей секции */
    height: 95px;

}

.logo {
  display: flex;
  align-items: center; /* ← ВАЖНО */
  gap: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/* Большая W */
.logo-icon {
  font-size: 70px;
  line-height: 1;
  background: linear-gradient(90deg, #ff00cc, #3b4cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}


.logo-title {
  display: inline-block;      /* ← ВАЖНО */
  margin-top: -24px;
  margin-bottom: -2px;
  font-size: 18px;
  letter-spacing: 7px;       
  background: linear-gradient(90deg, #ff00cc, #3b4cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}


.logo-subtitle {
  display: block;
  max-width: 100%;
  width: fit-content;      
  white-space: nowrap;
  overflow: hidden;
  margin-top: -2px;
  line-height: 1;
  padding-left: 6px;
  font-size: 7px;
  letter-spacing: 1px;
  color: #ff00cc;
  font-weight: 400;
}

.nav{    
    display: flex;
    align-items: center;
    justify-content: center; 
}


ul{
    display: flex;
    padding-right: 270px;
    padding-left: 40px;
    gap: 40px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-link {
    text-decoration: none;
    padding-bottom: 15px;
    position: relative;
    color: var(--color-primary-light);
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-brand-light);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Располагаем под меню "Services" */
    left: 0;
    background-color: var(--color-brand);
    list-style-type: none;
    padding: 10px 0;
    border: 1px solid rgba(194, 19, 255, 0.76);
    border-radius: 5px;
    min-width: max-content; /* Устанавливает минимальную ширину в зависимости от контента */
    white-space: nowrap;
    z-index: 5;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    text-decoration: none;
    color: var(--color-primary-light);
    display: block;
}

.dropdown-menu a:hover {
    color: var(--color-brand-light);
}

/* Показываем выпадающее меню при наведении на элемент */
.nav-item:hover .dropdown-menu {
    display: block;
}


.button-contact{
    background: #242121;
    color: var(--color-primary-light);
    border-radius: 50px;
    border-color: transparent;
    width: 220px;
    height: 56px;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: auto;
    z-index: 3;
    cursor: pointer;
}

.button-contact:hover{
    background:var(--color-brand-light);
    transition: 0.3s ease, color 0.3s ease;
}



