@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



body {  
  background-color: var(--color-brand);
}


h1, h2, h3,
.logo {
  font-family: 'Montserrat', sans-serif;
}
