/*Section About*/

.section-about{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 200px;
    height: 800px;
}

.section-about-gradient-right{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: absolute;
    bottom: 1%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
}

.ellipse-photo{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.mini-circle-2{
    position: absolute;
    top: 55%;
    z-index: 1;
}

.about-title{
    position: absolute;
    bottom: 80%;
    left: 35%;
    color: var(--color-primary-light);
    font-family: K2D;
    font-size: 143.294px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.5px; 
    letter-spacing: 7.165px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 130px;
    padding-top: 0px;
    
}

.arrow-dotted{
    width: 20px;
    height: auto; 
    transform: rotate(-90deg);
}

.text-items{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; 
    letter-spacing: 1px;
}

.about-button{
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.container-dots {
    position: absolute;
    top:60%;
    left: 84%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }
  
.dot{
    width: 11px;
    height: 11px;
    background-color: #1C25FF40;
    border-radius: 50%;
}
