/*section-steps*/

.section-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-steps {
    color: var(--color-primary-light);
    color: var(--color-primary-light);
    font-family: K2D;
    font-size: 143.294px;
    font-style: normal;
    font-weight: 600;
    line-height: 135px;
    letter-spacing: 7.165px;
    text-align: left;
}

.list-steps {
    color: var(--color-primary-light);
    max-width: 800px;
    width: 100%;
    text-align: left; 
}



.list-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-items li {
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.step-circle {
    width: 50px;
    height: 50px;
    background-color: var(--color-brand-light);
    color: white; 
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    flex-shrink: 0; /* Не позволяет кружку сжиматься */
    text-align: center;
}

h4 {
    color: var(--color-brand-light);
    margin: 0 0 10px 0; 
    font-size: 18px;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-primary-light);
}

/* The Boxes */

ul.floating-boxes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

ul.floating-boxes li {
    position: absolute;
    list-style: none;
    height: 2rem;
    width: 2rem;
    background-image: linear-gradient(
      135deg,
      rgba(255, 64, 105, 0.07),
      hsla(263, 64%, 39%, 0.07)
    );
    bottom: -110rem;
    animation: floatingbox 25s linear infinite;
    opacity: 1; /* Элементы сразу видимы */
  }

  ul.floating-boxes li:nth-child(1) {
    left: 25%;
    height: 6rem;
    width: 6rem;
    animation-delay: 0s; /* Задержка убрана */
    animation-duration: 15s;
  }

ul.floating-boxes li:nth-child(2) {
    left: 10%;
    height: 2rem;
    width: 2rem;
    animation-delay: 0s;
    animation-duration: 15s;
  }

ul.floating-boxes li:nth-child(3) {
    left: 65%;
    height: 9rem;
    width: 9rem;
    animation-delay: 0s;
    animation-duration: 10s;
  }

ul.floating-boxes li:nth-child(4) {
    left: 45%;
    height: 6rem;
    width: 6rem;
    animation-delay: 0s;
    animation-duration: 20s;
  }

ul.floating-boxes li:nth-child(5) {
    left: 55%;
    height: 4.5rem;
    width: 4.5rem;
    animation-delay: 0s;
    animation-duration: 18s;
  }

ul.floating-boxes li:nth-child(6) {
    left: 35%;
    height: 7rem;
    width: 7rem;
    animation-delay: 0s;
    animation-duration: 22s;
  }

ul.floating-boxes li:nth-child(7) {
    left: 15%;
    height: 11rem;
    width: 11rem;
    animation-delay: 0s;
    animation-duration: 7s;
  }

ul.floating-boxes li:nth-child(8) {
    left: 75%;
    height: 10rem;
    width: 10rem;
    animation-delay: 0s;
    animation-duration: 9s;
  }

ul.floating-boxes li:nth-child(9) {
    left: 85%;
    height: 5rem;
    width: 5rem;
    animation-delay: 0s;
    animation-duration: 4s;
  }

ul.floating-boxes li:nth-child(10) {
    left: 95%;
    height: 5.5rem;
    width: 5.5rem;
    animation-delay: 0s;
    animation-duration: 25s;
  }
  
@keyframes floatingbox {
    0% {
      transform: translateY(0) rotate(0);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-110rem) rotate(1080deg);
      opacity: 1;
      border-radius: 50%;
    }
  }
  

  