/*Section Projects*/

.section-projects{
    position: relative;
  }

  .container-projects{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-top: 200px;
    width: 1500px;
  }

  .title-projects{
    color: #FFF;
    font-family: K2D;
    font-size: 118.087px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.469px; 
    letter-spacing: 5.904px;
  }
  
.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;

  }

.card-column1, .card-column2, .cards-column3{
    display: flex;
    flex-direction: column;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: auto; 
    flex-direction: column; 
}

.card img {
    display: block; 
    width: 100%; /* Изображение подстраивается под ширину карточки */
    height: auto; 
}

.card-name {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-primary-light);
    font-family: K2D;
    border: 2px solid var(--color-primary-dark);
    padding: 20px;
    border-radius: 50px;
    width:400px; 
    height: 70px; 
}

.card-name:hover{
    color: var(--color-brand-light);
}


.gradients-projects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}


.gradient-projects1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
   
}

.gradient-projects2{
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}

.cross-normal{
    position: absolute;
    right: 30%;
    top: 10%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-brand-light);
}

.cross-flattened{
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.container-dots-projects1 {
    position: absolute;
    top:5%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }


.container-dots-projects2 {
    position: absolute;
    top:50%;
    left: 50%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
    transform: rotate(90deg);
  }

  .projects-button{
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}