/*Section Services*/

.section-services{
    position: relative;
}

.container-services-title{
    display: flex;
}

.title-services{
    color: #FFF;
    font-family: K2D;
    font-size: 118.087px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.469px; 
    letter-spacing: 5.904px;
    margin: 100px 0 100px 240px;
}

.container-services-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--color-primary-light);
    
}

.service-card1{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card2{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card3{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card4{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card5{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.service-card6{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--color-primary-light); /* Граница справа */
    border-bottom: 2px solid var(--color-primary-light); /* Граница снизу */
    padding: 20px;            /* Отступы внутри границы */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    max-width: 100%;
}

.services-card-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3{
    color: #FFF;
    text-align: center;
    font-family: K2D;
    font-size: 39.579px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.services-card-text{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 23.58px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 400px;
}

.card-item-border{
    border: 2px solid var(--color-primary-dark); /* Толщина и цвет границы */
    padding:10px;       /* Отступы внутри границы */
    margin: 0;
    display: inline-block;   /* Чтобы граница окружала только текст */
    border-radius: 50px;      /* Скругленные углы, если нужно */
    color: var(--color-primary-light);
    width: 200px;
    text-align: center;
    
}

.services-card-button{
    
    border-radius: 50px;
    border-color: transparent;
    background:var(--color-brand-light);
    backdrop-filter: blur(33px);
    width: 199px;
    height: 56px;
    color: var(--color-primary-light);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services-card-button:hover{
    background:var(--color-brand);
    transition: 0.3s ease, color 0.3s ease;
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.services-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.services-gradient1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
   
}

.services-gradient2{
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}

.services-cross-normal{
    position: absolute;
    right: 10%;
    top: 15%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.cross-flattened{
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--color-primary-light);
}

.container-services-dots2 {
    position: absolute;
    top:20%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
    transform: rotate(90deg);
  }

.container-dots3{
    position: absolute;
    top:80%;
    left: 5%;
    padding: 0;
    z-index: -1; 
    pointer-events: none; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px; /* Отступы между точками */
    width: 250px;
    height: 113px;
  }
