:root{
    --color-brand: #120720;
    --color-brand-light: #FA00FF;
    --color-primary-dark:#1C25FF40;
    --color-primary-light:#FFFFFF;
}


body {  
  background-color: var(--color-brand);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

