@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/fonts";
@import "./base/_reset";
@import "./components/buttons";
@import "./components/forms";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/modal";
@import "./pages/_home";
@import "./pages/_about";
@import "./pages/contacts";
@import "./pages/projects";
@import "./pages/services";
@import "./pages/politics-of-confident.scss";

html {
    scroll-behavior: smooth;
}